name: test-and-build

on:
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22, 24]
    steps:
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: volta install pnpm
      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm run format:check
      - run: pnpm run tsc:check
      - run: pnpm run build
      - run: pnpm run test
